:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-iris: #4d5ae5;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* Base styles */
.link {
  text-decoration: none;
  text-transform: uppercase;
}

/* Header styles  */

.list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  font-style: normal;
  font-size: 16px;
  list-style: none;
}

a:focus {
  color: var(--color-ocean);
}
a:hover {
  color: var(--color-ocean);
}

.studio-top {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue-modal);
}

.link-studio {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
  flex: none;
}

.link-portfolio {
  width: 66px;
  height: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.link-contacts {
  width: 67px;
  height: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main-section {
  background-color: var(--color-navy-blue-modal);
}
.title {
  /* main section title h1 */

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
  /* main section order service */
}
.order-service {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
button:hover,
button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.allbutton:hover,
.allbutton:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
/* section two */
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
}

/* section three */
.tree-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
}

/* section four */
.four-section {
  background-color: var(--color-cloud);
}
.four-section-title {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
}
.four-section-list {
  background-color: var(--color-white);
}
/* footer section */
.studio-bottom {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
footer {
  background: var(--color-navy-blue-modal);
}

.allbutton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
}

.portfolio-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
